
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "mondomaine.lan" {
        type master;
        notify yes;
        allow-transfer {192.168.1.12;};
        file "/etc/bind/db.mondomaine.lan";
};

zone "1.168.192.in-addr.arpa" {
        type master;
        notify yes;
        allow-transfer {192.168.1.12;};
        file "/etc/bind/db.mondomaine.lan.inv";
};
